.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.login__form > *:not(:last-child) {
  margin-bottom: 1em;
}

.login__button {
  font-size: 1rem;
  font-weight: 700;
  color: var(--lighter-blue);
  padding: 0.5em;
  border: none;
  border-radius: 3px;
}

.login__tip {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.login__register {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 0.2em;
}
