html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark-blue: rgb(14, 30, 40);
  --blue: rgb(16, 35, 48);
  --light-blue: rgb(15, 46, 66);
  --lighter-blue: rgb(22, 56, 86);
  --red: rgb(187, 51, 65);
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
